@import 'bootstrap/scss/bootstrap.scss';


$fa-font-path: '~@fortawesome/fontawesome-free/webfronts';
@import "fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "fortawesome/fontawesome-free/scss/solid.scss";
@import "fortawesome/fontawesome-free/scss/regular.scss";


 a{
    cursor: pointer;
 }


body {
    background-color: black;
    color: white;

    h2 {
        color: red;

    }
}
