<main class="container">
    <!-- Background Video -->
    <video src="img/video-01.mp4" muted loop autoplay class="back_video"></video>
    <!-- Main Content -->
    <h1>Contact Us</h1>
    <div class="row justify-content-lg-center">
        <form id="contactForm" class="col-lg-6 col-md-8 col-sm-12" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text">Full Name</span>
                <input type="text" id="fullName" name="fullName" class="form-control" aria-describedby="fullName" aria-label="Full Name" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Contact Number</span>
                <input type="text" id="contactNumber" name="contactNumber" class="form-control" aria-describedby="contactNumber" aria-label="Contact Number" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Email Address</span>
                <input type="email" id="emailAddress" name="emailAddress" class="form-control" aria-describedby="emailAddress" aria-label="Email Address" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Your Message</span>
                <textarea id="message" name="message" class="form-control" aria-describedby="message" aria-label="Your Message" required></textarea>
            </div>
            <button id="submitButton" type="submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Submit</button>
            <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo-alt"></i> Cancel</button>
        </form>
    </div>
</main>